@model PFTApp.Models.Serie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Serie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.exerciseunit.id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.exerciseunit.id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.repetition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.repetition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pause)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pause)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.finish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.finish)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
