@model PFTApp.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Exercise</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.difficulty.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.difficulty.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.video)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.video)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.musclegroup.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.musclegroup.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
