@model PFTApp.Models.Trainee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Trainee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.birth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.experience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.experience)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.goal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
